.banner{
    background-image: url("../../../assets/images/bg.png") ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 1450px;
    background-position: center; 
   
}
.banner-shadow{
    box-shadow:  -10px -12px 50px white;
}
@media screen and (max-width:1200px ) {
    .banner{
        background-image:none;
    }
}